{{ 'minicart.css' | asset_url | stylesheet_tag }}

<div class="minicart">

  <div>
    <h3>Minicart</h3>
    <i class="fas fa-times"></i>
  </div>
  
  <div class="minicart__item">
    


  </div>

</div>

<script src="{{ 'minicart.js' | asset_url }}" async></script>