#gradisection {
  display: flex;
}

#gradidiv {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding: 0.5rem;
}

.gradidiv__product {
  display: flex;
  flex-direction: column;
  width: 22rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #ccc;
}

.gradidiv__product__h5, .gradidiv__product__title, .gradidiv__product__coll, .gradidiv__product__tags, .gradidiv__product__link {
  width: 100%;
}

.gradidiv__product__h5 {
  text-transform: uppercase;
}

.gradidiv__product__link:link, .gradidiv__product__link:visited {
  text-decoration: none;
}

.gradidiv__product__img--dnone {
  display: none;
}

.gradidiv__product__radiobox {
  display: flex;
}

.gradidiv__product__radio {
  display: inline-flex;
  vertical-align: bottom;
  width: 3rem;
  height: 3rem;
  margin: 0.3rem 0;
  border-radius: 50%;
  border: 0.2rem solid lightgray;
}

.gradidiv__product__radio--selected {
  border-color: black;
}

.gradidiv__product__radio--pink {
  border-color: black;
  background: radial-gradient(pink 0%, pink 40%, transparent 50%, transparent);
}

.gradidiv__product__radio--purple {
  background: radial-gradient(purple 0%, purple 40%, transparent 50%, transparent);
}

.gradidiv__product__radio--orange {
  background: radial-gradient(orange 0%, orange 40%, transparent 50%, transparent);
}