#gradisection {
  display: flex;
}

#gradidiv {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding: 0.5rem;
}

.gradidiv__product {
  display: flex;
  flex-direction: column;
  width: 22rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #ccc;
}

.gradidiv__product__h5, .gradidiv__product__title, .gradidiv__product__coll, .gradidiv__product__tags, .gradidiv__product__link {
  width: 100%;
}

.gradidiv__product__h5 {
  text-transform: uppercase;
}

.gradidiv__product__link:link, .gradidiv__product__link:visited {
  text-decoration: none;
}

.gradidiv__product__radiobox {
  display: flex;
}

.gradidiv__product__radio {
  display: none;
}

.gradidiv__product__radio + *::before {
  content: "";
  display: inline-flex;
  vertical-align: bottom;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border: 0.1rem solid lightgray;
}

.gradidiv__product__radio:checked + *::before {
  border-color: black;
}

.gradidiv__product__radio + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.gradidiv__product__radio--pink + *::before {
  color: pink;
  background: radial-gradient(pink 0%, pink 40%, transparent 50%, transparent);
}

.gradidiv__product__radio--purple + *::before {
  color: purple;
  background: radial-gradient(purple 0%, purple 40%, transparent 50%, transparent);
}

.gradidiv__product__radio--orange + *::before {
  color: orange;
  background: radial-gradient(orange 0%, orange 40%, transparent 50%, transparent);
}